* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f6f0;
  color: #111;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
}

.small-logo {
  width: 30px;
  height: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a68c69;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #333;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.container {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.firstPageBg {
  position: absolute;
  z-index: -1;
  opacity: 0.06;
  width: 35%;
  height: auto;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 2.0s steps(30, end), blink-caret 0.75s step-end infinite;
}

.typewriter h1,
.typewriter p {
  display: block;
  margin: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.highlight {
  font-style: italic;
  font-weight: 700;
}

.content p {
  font-size: 1.1rem;
  margin-top: 10px;
  letter-spacing: 3px;
}

.imgLinks {
  display: flex;
  gap: 40px;
}

.logoSize {
  width: 35px;
  height: 35px;
  object-fit: contain;
  transform: scale(1);
  transition: transform 0.3s ease;
  will-change: transform;
  
}

.logoSize:hover {
  transform: scale(1.1);
  cursor: pointer;
}

body:not(.loaded) .logoSize {
  transition: none;
}

@media (max-width: 768px) {
  .firstPageBg {
    width: 60%;
  }

  .typewriter {
    font-size: 2rem;
  }

  .imgLinks {
    gap: 25px;
  }
}
